[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
pylint = "*"
mypy = "*"
ipython = "*"
black = "==18.6b4"
pytest = "*"
rope = "*"

[requires]
python_version = "3.6"
